<nav>
  <ul>
    <% for (let i = 0; i < links.length; i++) { %>
            <% if(!locals.currentUser){ %>
              <li>
                <a href="<%= links[i].href %>">
                  <span> <%= links[i].text %> </span>
                </a>
              </li>
              <% } else if (!links[i].href == "sign-up" || !links[i].href == "login") { %>
                  <li>
                    <a href="<%= links[i].href %>">
                      <span> <%= links[i].text %> </span>
                    </a>
                  </li>
              <% } %>
    <% } %>
    <% if (locals.currentUser) { %>
          <li>
            <a href="logout">
              <span>Logout</span>
            </a>
          </li>
            <% if(!locals.currentUser.membership) { %>
              <li>
                <a href="member">
                  <span>Join the Club!</span>
                </a>
              </li>
           <% } %>
          <li>
              <span>Welcome <%= locals.currentUser.first_name %>!</span>
          </li>
        <% } %>
  </ul>
</nav>
